*{ margin: 0; padding: 0;}

/*
	断言框  assert

 */
.Smartahou-assert{
	position: absolute;
	left:30px;
	top:100px;
	box-shadow: 0px 0px 0px 0px black;
	transition: box-shadow 0.5s;
	z-index: 2147483647;
}
.Smartahou-assert-div{
	position:relative;
	width: 300px;
	height: 500px;
	overflow: auto;
	border: 2px dotted black;
}
.Smartahou-assert-ul{
	width: 100%;
	font-size:12px;
}
.Smartahou-assert li{
	list-style: none;
	margin:3px 5px;
	padding:5px;
	font-size:1em;
	border:1px solid black;
	font-family: 微软雅黑;
	font-weight: bold;
	line-height:18px;
	cursor: pointer;
}
.Smartahou-right{
	color: black;
	background:#71C671;
}
.Smartahou-error{
	color: white;
	background:#CD5555;
}
.Smartahou-li-index{
	color: white;
	background: black;
	padding:3px 8px;
	font-size:0.7em;
	border-radius:100px;
	margin-right:5px;
}
.Smartahou-assert-li-moved{
	box-shadow: 0px 0px 10px 3px #104E8B;
}

.Smartahou-assert-header-span{
	position: absolute;
	background: white;
	font-size: 1em;
	font-family: 微软雅黑;
	font-weight: bold;
	padding: 2px 15px;
	border-left: 2px dotted black;
	border-right: 2px dotted black;
	border-top: 2px dotted black;
	top: -25px;
	left: 130px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	cursor: pointer;
}

.Smartahou-assert-actived{
	box-shadow: 1px 10px 30px 8px #4D4D4D;
	transition: box-shadow 0.5s;
}


/*
	balabala 聊天框

 */

.balabala{
	display: inline-block;
	position:absolute;
	z-index: 2147483648;
	opacity: 0;
}

.balabala>div[class^="balabala-inner"]{
	position: relative;
	min-width: 100px;
	max-width: 300px;
	width: 100%;
	padding: 8px 14px;
	line-height: 1.5em;
	min-height: 1.5em;
	font-family: 微软雅黑;
	word-break: break-all;
	word-wrap: break-word;
	font-size: 0.9em;
	box-shadow: 5px 6px 10px 1px gray;
	color: white;
	border-radius: 10px;
	background: black;
}

.balabala>div[class^="balabala-inner"]>span[class^="balabala-arrows"]{
	position: absolute;
	display: block;
	border-color: black;
}




/*  	信息状态主题	  */
.balabala>div[class$="info"]{
	background: #5CACEE;
}
.balabala>div[class$="info"]>span[class^="balabala-arrows"]{
	border-color: #5CACEE;
}

/*  	警告状态主题	  */
.balabala>div[class$="danger"]{
	background: #CD2626;
}
.balabala>div[class$="danger"]>span[class^="balabala-arrows"]{
	border-color: #CD2626;
}

/*  	成功状态主题	  */
.balabala>div[class$="success"]{
	background: #3CB371;
}
.balabala>div[class$="success"]>span[class^="balabala-arrows"]{
	border-color: #3CB371;
}


.balabala>div[class^="balabala-inner"]>.balabala-arrows,.balabala>div[class^="balabala-inner"]>.balabala-arrows-top{
	bottom: -24px;
	left: 24px;
	border-right: 10px solid rgba(0,0,0,0) !important;
	border-bottom: 12px solid rgba(0,0,0,0) !important;
	border-left: 10px solid rgba(0,0,0,0) !important;
	border-top-width: 12px !important;
	border-top-style: solid !important;
}

.balabala>div[class^="balabala-inner"]>.balabala-arrows-bottom{
	top: -24px;
	left: 24px;
	border-right: 10px solid rgba(0,0,0,0) !important;
	border-top: 12px solid rgba(0,0,0,0) !important;
	border-left: 10px solid rgba(0,0,0,0) !important;
	border-bottom-width: 12px !important;
	border-bottom-style: solid !important;
}

.balabala>div[class^="balabala-inner"]>.balabala-arrows-left{
	right: -24px;
	top: 10px;
	border-top: 10px solid rgba(0,0,0,0) !important;
	border-bottom: 10px solid rgba(0,0,0,0) !important;
	border-right: 12px solid rgba(0,0,0,0) !important;
	border-left-width: 12px !important;
	border-left-style: solid !important;
}

.balabala>div[class^="balabala-inner"]>.balabala-arrows-right{
	left: -24px;
	top: 10px;
	border-top: 10px solid rgba(0,0,0,0) !important;
	border-bottom: 10px solid rgba(0,0,0,0) !important;
	border-left: 12px solid rgba(0,0,0,0) !important;
	border-right-width: 12px !important;
	border-right-style: solid !important;
}
